.column{
	background-color:#b4c5ce;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	box-shadow: 2px 2px 2px #D3D3D3;
	z-index: -1;
}

.main_column{
	float: right;
	margin: auto;
	width: 50%;
	z-index: -1;
	min-height: 160px;

}


.post_form{
	width: 100%;
}

.post_form textarea{
	width: 90%;
	height: 90px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 14px;
}

textarea:focus{
	outline: 0;
}


.post_form input[type='submit']{

	width: 15%;
	height: 60px;
	border-radius: 5px;
	border: none;
}



/*tablets*/
@media screen and (max-width: 800px) {

.main_column{
	float:left;
	margin: auto;
align-content: center;
max-width: 480;
	width: 96%;
}


}



/*mobile phones*/
@media screen and (max-width: 480px) {

.main_column{
margin: auto;
align-content: center;
	width: 96%;
}


}
