.column{
	background-color:#b4c5ce;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	box-shadow: 2px 2px 2px #D3D3D3;
	z-index: -1;
}

.main_column{
	float: right;
	margin: auto;
	width: 50%;

}




/*tablets*/
@media screen and (max-width: 800px) {

.main_column{
	float:left;
	margin: auto;
align-content: center;
max-width: 480;
	width: 96%;
}


}



/*mobile phones*/
@media screen and (max-width: 480px) {

.main_column{
margin: auto;
align-content: center;
	width: 96%;
}


}
