.column{
	background-color:#b4c5ce;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	box-shadow: 2px 2px 2px #D3D3D3;
	z-index: -1;


}

.right_column{
float: right;
margin: auto;
	width: 30%;
}



/*tablets*/
@media screen and (max-width: 800px) {

.right_column{
display: none;
}


}



/*mobile phones*/
@media screen and (max-width: 480px) {

.right_column{

display: none;
}


}